.bg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #35374B;
    color: white;

}

fieldset{
    color: white;
    border-radius: 3px;
}

label{
    font-style: italic;
}